@media  screen and  (min-width:1200px){
    .container-fluid {
        .service {
            height: auto;
            cursor: pointer;
            position: relative;
            .tel1 {
                display: block;
                width: 347px;
                height: 713px;
                position: absolute;
                left: 25%;
                top: 10%;
            }
        }
        .panel {
            width: 34%;
            height: auto;
            position: absolute;
            right: 8%;
            top: 34%;
            opacity: 0.6;
            border:3px solid rgb(243, 240, 240);
            .panel-title {
                h3 {
                    text-align: center;
                    font-size: 32px;
                    color: #000;
                    font-weight: 700;
                    font-family:"a.TTF";
                    i {
                        color: #ED8C03;
                        font-style: normal;
                    }
                }
            }
            .panel-body {
                p {
                    width: 100%;
                    margin: 0 auto;
                    font-size: 24px;
                    font-family:"a.TTF";
                    color: #000;
                    text-align: left;
                    span{
                        color: #ED8C03;
                        margin-right: 10px;
                    }
                }
            }
        }
    }    
}
@media (max-width:1200px) and(min-width:982px){
    .container-fluid {
        .service {
            height: auto;
            cursor: pointer;
            position: relative;
            .tel1 {
                display: block;
                width: 347px;
                height: 713px;
                position: absolute;
                left: 25%;
                top: 10%;
            }
        }
        .panel {
            width: 34%;
            height: auto;
            position: absolute;
            right: 6%;
            top: 36%;
            opacity:0.68;
            border:2px solid #FFF;
            .panel-title {
                h3 {
                    text-align: center;
                    font-size: 24px;
                    color: #000;
                    font-weight: 700;
                    font-family:"a.TTF";
                    i {
                        color: #ED8C03;
                        font-style: normal;
                    }
                }
            }
            .panel-body {
                p {
                    width: 100%;
                    margin: 0 auto;
                    font-size: 20px;
                    font-family:"a.TTF";
                    color: #000;
                    text-align: left;
                    span{
                        color: #ED8C03;
                        margin-right: 10px;
                    }
                }
            }
        }
    }    
}
@media screen and(max-width:982px){
    .container-fluid {
        .service {
            height: auto;
            cursor: pointer;
            position: relative;
            .tel1 {
                display: block;
                width: 200px;
                height:500px;
                position: absolute;
                left: 15%;
                top: 10%;
            }
        }
        .panel {
            width: 60%;
            height: auto;
            position: absolute;
            left: 30%;
            top: 40%;
            opacity: 0.6;
            border:3px solid rgb(243, 240, 240);
            .panel-title {
                h3 {
                    text-align: center;
                    font-size: 16px;
                    color: rgb(19, 18, 18);
                    font-weight: 700;
                    i {
                        color: #ED8C03;
                        font-style: normal;
                    }
                }
            }
            .panel-body {
                p {
                    width: 100%;
                    margin: 0 auto;
                    font-size: 16px;
                    color: #333331;
                    text-align: left;
                    span {
                        color: #ED8C03;
                        margin-right: 2%;
                    }
                }
            }
        }
    }    
}
@media screen and(max-width:760px){

}

// panel panel-default:面板 
// panel-heading:面板头部 
// panel-title:面板标题 
// panel-body:面板内容 
// panel-footer:面板脚注